@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}
}

body {
    animation: fadein .3s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
 
    to {
        opacity: 1;
    }
}